*{
    margin:0px;
    padding:0PX;
    box-sizing:border-box;
    color:#38401D;
}

body{
    background-color:#BF9A54;
    margin-left:160px;
}


header {
    display: flex;
    margin-top:30px;
    justify-content: space-between;
    
}
.logo{
    font-size:30px;
   
}

.nav-menu{
    list-style:none;
 
    


}
.nav-menu-item:hover{
    color:rgb(173, 173, 173);
}
ul{
       display:flex;
     gap:30px;/*margin ve paddingle ede bilmedim((*/
       font-size:30px;
       padding-right: 120px;
}
.nav-menu-item{
    text-decoration:none;
  
}

h2{
    text-align:center;
    margin-top:40px;
    margin-bottom:30px;
    font-size:30px;
    text-transform:Capitalize;
}
.intro-images,.wildlife-images,.hiker-images{
    display:flex;
    flex-wrap: wrap;
  
  
}
img{
    width:470px;
    height:350px;
    margin-left:5px;
}
img:hover{
    opacity:0.8;
    cursor:pointer;
}

button{
    padding:6px 10px;
    font-size:20px;
    border-radius:4px;
    margin-top:30px;

}

button a{
    text-decoration:none;
}
footer p{
    text-align:center;
    font-size:25px;
    margin-bottom:30px;
}