@font-face {
    font-family: 'Ga Maamli';
    src: url('../fonts/GaMaamli-Regular.woff2') format('woff2'),
        url('../fonts/GaMaamli-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;/*block*/
}

